@import '../../../global/global.less';
@import '../../../global/common.less';

@itemHeight: 85px;
@titleFontSize: 1.4rem;
@subTitleFontSize: 1.2rem;
.productList{
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
	border-top: 1px solid #d2dae8;
	.productItem {
		.productWrapper{
			.display(flex);
			width: 100%;
			padding: 20px 0;
			text-align: left;
			border-bottom: 1px dashed #d2dae8;
		}
		.thumbnail {
			display: inline-block;
			width: @itemHeight;
			height: @itemHeight;
		}
		.infos {
			.flex(1);
			/*padding: 10px 10px;*/
			font-size: @titleFontSize;
			color: #33363b;
			.title {
				line-height: 1.4;
				margin: 0;
				height: 38px;
				display: -webkit-box;
  				-webkit-line-clamp: 2;
  				-webkit-box-orient: vertical;
  				overflow: hidden;
			}
			.evaluations{
				margin-top: 5px;
				.paws{
					width: 16px;
					height: 16px;
					margin-right: 4px;
				}
			}
			.subTitle{
				margin-top: 8px;
				line-height: 8px;
				.countryFlag{
					width: 20px;
					height: 14px;
					vertical-align: middle;
					margin-right: 5px;
				}
				.weight {
					display: inline-block;
					height: 14px;
					line-height: 14px;
					color: #7b8392;
					font-size: @titleFontSize;;
				}
			}
		}
		.count{
			width: 60px;
			text-align: center;
			line-height: @itemHeight;
			font-size: 24px;
			font-weight: bold;
			color: #7b8392;
			.multiSign{
				font-size: 10px;
			}
		}
	}
}