
@font-face {
    font-family: "Metrophobic";
    font-weight:bold;
    src: url(/package/font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Metrophobic";
    src: url(/package/font/Montserrat-Regular.ttf);
}

a{
	text-decoration: none;
}
li{
	list-style: none;
}
div,header,ul,li,body{
	margin: 0;
	padding:0;
}

body{
	font-family: "Metrophobic", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

*{
	margin: 0;
	padding: 0;
}
